body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

/* Utility */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #e7e9fc;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 40px;
}

address ul {
    display: flex;
    gap: 40px;
}

/* HERO */
.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 120px 0;
    color: #ffffff;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
}

.hero button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

/* FEATURES */
.features {
    padding: 120px 0;
}

.features ul {
    display: flex;
    gap: 24px;
}

.features h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #2e2f42;
}

.features p {
    font-size: 16px;
    line-height: 1.5;
}

/* TEAM */
.team {
    background-color: #f4f4fd;
    padding: 120px 0;
    text-align: center;
}

.team h2 {
    font-size: 36px;
    margin-bottom: 72px;
}

.team ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team li {
    background-color: #ffffff;
    padding-bottom: 32px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team h3 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}

.team p {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/* PORTFOLIO */
.portfolio {
    padding: 120px 0;
}

.portfolio h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.portfolio li {
    border: 1px solid #e7e9fc;
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
}

.portfolio h3 {
    font-size: 20px;
    margin: 32px 16px 8px;
    color: #2e2f42;
}

.portfolio p {
    margin: 0 16px 32px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

/* FOOTER */
footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
    text-align: left;
}

footer a {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    display: inline-block;
}
